html * {
font-family:'Raleway';
}

.title{
  text-align:center; 
  padding:10px;
  font:sans-serif;
  color:#ffffff;
  background-color:white;
  border:15px solid maroon;
  border-radius:20px;
}
.slogan-image{
 display:block;
  margin:auto;
  width:25%;
}
.slogan{
  text-align:center;
  font-family:"Helvetica", "Arial",sans-serif ;
}
.column{
 border:5px;   
  float: left;
}

.aside{ 
  width:150px; 
  border-style:solid;
  border-color:maroon;
  border-width:5px;
  border-radius:5px;
  padding:5px;
}

h3 {
  text-align: center;
  font-size: 40px;
  font: helvetica; 
}


.column{ 
  width:150px; 
  border: 5px solid maroon;
  padding:5px;
  border-radius: 10px;
}

h4{
  text-align:center;
  color:white;
  background-color:maroon;
  border:1px solid maroon;
  border-radius:4px;
}
.column{
  display:inline-block;
  vertical-align:top;
}
.button{
  /*position: default;*/
  float: right;
  display:  inline-block;
  border: 1px solid maroon;
  border-radius:2px;
  width: 400px;
  text-size: 40px;
}
.link {
  background-color:white;
  border:1px solid maroon;
  height: 30%;
  width:100%;
  text-align:center;
}
/*
#link-student-login {
  position: absolute;
  top: 33%;
  transform: translateY(-33%);
}
#link-teacher-login {
  position: absolute;
  top: 66%;
  transform: translateY(-66%);
}
*/

.dialog {
  text-align: center;
  display: inline-right;
}

.resource{
  border:5px solid maroon;
  border-radius:10px;
  padding:10px;
  margin-top:20px;
}
.resourceone{
/*   background-color:green; */
  padding:5px;
  margin-right:200px;
}
.resourcetwo{
/*   background-color:yellow; */
  padding:5px;
  margin-left:150px;
}
.resourcethree{
 float:right; 
}
.resourceone,
.resourcetwo,.resourcethree,
.test{
  display:inline-block;
  vertical-align:top;
}
h1 {
  color: maroon;
}
.box {
  text-align: center;
  padding:10px;
  border: 15px solid maroon;
  border-radius: 20px;
}

