---
title: Teacher Talk - Home
---

<!-- adds a custom font -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

{% include header.html %}

{% include available-list.html %}
 
  <div class="button">
     <form action="https://teachertalk.github.io/teacher-talk/student/registration.html">
      <button class="link" id="link-student-reg">Student Registration</button>
     </form>
     <form action="https://teachertalk.github.io/teacher-talk/student/login-page.html">
      <button class="link" id="link-student-login">Student Login</button>
     </form>
     <form action="https://teachertalk.github.io/teacher-talk/faculty/registration.html">
      <button class="link" id="link-teacher-reg">Faculty Registration</button>
     </form>
     <form action="https://teachertalk.github.io/teacher-talk/faculty/login-page.html">
      <button class="link" id="link-teacher-login">Faculty Login</button>
     </form>
  </div>

<!--
<div class="button">
 <a href="https://teachertalk.github.io/teacher-talk/student/registration.html"><div class="link">Student Registration</div></a>
 <a href="https://teachertalk.github.io/teacher-talk/student/login-page.html"><div class="link">Student Login</div></a>
 <a href="https://teachertalk.github.io/teacher-talk/faculty/registration.html"><div class="link">Faculty Registration</div></a>
 <a href="https://teachertalk.github.io/teacher-talk/faculty/login-page.html"><div class="link">Faculty Login</div></a>
 </div>
-->

<!--{% include chatbox.html %}-->
{% include resources.html %}
  
{% include footer.html %}
