---
title: Teacher Talk - Home
---

{% include header.html %}

<div>
  <h2>Pages</h2>
  <ul>
    <li><a href="https://teachertalk.github.io/teacher-talk/student/login-page.html">Student Login Page</a></li>
    <li><a href="https://teachertalk.github.io/teacher-talk/student/registration.html">Student Registration Page</a></li>
    <li><a href="https://teachertalk.github.io/teacher-talk/teacher/login-page.html">Teacher Login Page</a></li>
    <li><a href="https://teachertalk.github.io/teacher-talk/teacher/registration.html">Teacher Registration Page</a></li>
    <li><a href="https://teachertalk.github.io/teacher-talk/counselor/login-page.html">Counselor Login Page</a></li>
    <li><a href="https://teachertalk.github.io/teacher-talk/counselor/registration.html">Counselor Registration Page</a></li>
  </ul>
</div>

{% include footer.html %}
