<div class="big">
  <div class="column">
    <h4>Available Teachers</h4>
    <p><a href="faculty/gellerBio.html">Mr. Bing</a></p>
    <p><a href="faculty/gellerBio.html">Mrs. Grey</a></p>
    <p><a href="faculty/gellerBio.html">Ms. Geller</a></p>
    <p><a href="faculty/gellerBio.html">Ms. Green</a></p>
    <p><a href="faculty/gellerBio.html">Mrs. Pope</a></p>
    <h4>Available Counselors</h4>
    <p><a href="faculty/gellerBio.html">Ms. Benson</a></p>
    <p><a href="faculty/gellerBio.html">Mr. Stabler</a></p>
    <p><a href="faculty/gellerBio.html">Dr. Doofenshmirtz</a></p>
    
  </div>
</div>
