<div style="line-height:125%;" class="box">
  <h1>{{page.user-type}} Login</h1> <!-- student login -> staff login -->
  <form action="dashboard.html" method="post">
    <div style="padding:10px;">
       School:<br>
       <select>
         <option value="select">Select a School</option>
         <option value="s1">School 1</option>
         <option value="s2">School 2</option>
         <option value="s3">School 3 </option>
      </select>
    </div>
    <div style="padding:7px;">
        Username:<br>
       <input type="text" name="username" style="">
    </div>
    <div style="padding:7px">
      Password:<br>
      <input type="password" name="password">
    </div>
    <div style="padding:7px;">
      <input type="submit" value="login">
    </div>
    <div style="font-size:14px; padding:2px; line-height:120%;">
      <input type="checkbox" name="rememberme" value="remember"> Remember me
      <br>
      {% if page.user-type == 'Student' %}
      <i>Keeps you logged in on this browser, but you're still anonymous.</i>
      {% else %}
      <i>Keeps you logged in on this browser.</i>
      {% endif %}
    </div>
    <a href="registration.html">Register</a>
    <a href="#">Forgot your ID or password?</a>
  </form>
</div>
