---
title:  Teacher Talk - Student Registration
---

{% include header.html %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TeacherTalk</title>
	</head>
	
	<body>
		<div class ="welcome">
			<p>Welcome to TeacherTalk!</p>
		</div>
		<div class ="disclaimer">
			<p>TeacherTalk is completely anonymous.  Your name is needed to register your account with the service.  Your personal information will never be revealed unless the teacher you are talking to feels you are a danger to yourself or others.  In this case, a school administrator will be able to see your identity for your safety.  By checking the box below you acknowledge this and understand that your name will only be revealed in case of danger to yourself or others. (or other legal-esque speak for "you've read the terms and conditions")</p>
		</div>
		
		<form onsubmit="saveData()">
		<div class="terms-checkbox">
			<input type="checkbox" id="termscheckbox">
			<label for"termscheckbox">I accept</label>
		</div>
		
		
			<div class="student-first-name">
				<p>First name:</p>
				<input type="text" id="studentfirstname" required>
				
			</div>
			<div class="student-last-name">
				<p>Last name:</p>
				<input type="text" id="studentlastname" required>
			</div>
			<div>
				<p>School name:</p>
				<input type="text" id="studentschool" required>
			</div>
			<div>
				<p>School zip code:</p>
				<input type="text" id="studentzipcode" required>
			</div>
			<div class="student-username-select">
				<p>Create a username:</p>
      <input type="text" id="studentusername" required>
		</div>
			
		<div class="student-password">
			<p>Create a password:</p>
			<input type="password" id="studentpassword" required>
		</div>
			<div class="student-password-confirmation" id="studentpasswordconfirmation" required>
				<p>Retype password:</p>
				<input type="password" name="studentpasswordconfirmation" required>
			</div>
		
			<br>
			<div>
      <input type="submit" value="Register">
			</div>
		</form>
	</body>

{% include footer.html %}
