---
title: Teacher Talk - Home
---

<!-- adds a custom font -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

{% include header.html %}
<body>
    <div class="my-info">
        <div class="intro-wrapper">
            <h2>Dr. Monica Geller</h2>
            <p>
                Hi there! I'm Dr. Geller.  I've been working at the school for five years and I'm happy to talk to you!  I like to bake cookies and I have two cats, Momo and Bear.  Welcome to my portfolio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tellus massa, tempor at pretium a, tristique ut ipsum. Suspendisse laoreet, libero eget sollicitudin mollis, eros dolor commodo risus, ac imperdiet nisl massa et lacus.
            </p>
            
    </div>
{% include footer.html %}
