---
title: Teacher Talk - Home
---

<!-- adds a custom font -->
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

{% include header.html %}
<body>
    <div class="my-info">
        <div class="intro-wrapper">
            <h2>Ms. Monica Geller</h2>
            <p>
                Hi there! I'm Ms. Geller. I am eager to help any of you with your problems. Don't be afriad to tell me things, I have been working here for 20 years, so I have heard it all.  I like to bake cookies and I have two cats, Momo and Bear. I hope I can help you!
            </p>
            
    </div>
{% include footer.html %}
